﻿.restaurants {
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
    width: 20em;
    float: left;
}

    .restaurants li {
        cursor: pointer;
        position: relative;
        left: 0;
        transition: all 0.2s ease;
    }

        .restaurants li:hover {
            color: #369;
            background-color: #EEE;
            left: .2em;
        }

.selected {
    background-color: #EEE;
    color: #369;
}
