﻿<h1>{{title}}</h1>


<input #outcode />
<button (click)="search(outcode.value); outcode.value=''">  Search </button>


<ul class="restaurants">
    <li *ngFor="#restaurant of restaurants"
        [class.selected]="restaurant === selectedRestaurant"
        (click)="onSelect(restaurant)">
    <li *ngFor="#restaurant of restaurants"
        [class.selected]="restaurant === selectedRestaurant"
        (click)="onSelect(restaurant)">
        {{restaurant.Name}}
    </li>
</ul>
<my-restaurant-detail [restaurant]="selectedRestaurant"></my-restaurant-detail>